@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap');
*{
  font-family: 'Roboto', sans-serif;
}
body{
  background-color: black;
}
/* End Transition Page */
.page-enter-active,
.page-leave-active {
  transition: margin-top 1s;
}

.page-enter,
.page-leave-to {
  margin-top: -100vh;
}

/* End Transition Page */


.btn-next, .btn-prev {
  left: 50%;
  transform: translateX(-50%);
  transition: transform .5s;
  z-index: 999;
}

.btn-next:hover {
  transform: translate(-50%, 40%);
}
.btn-prev:hover {
  transform: translate(-50%, -40%);
}

.cristal,
.cristal-big {
  z-index: 1;
  background-image: url(~/assets/img/cristal.png);
  cursor: pointer;
  transform: translateY(-50%);
  transition: all 0.5s;
}

.cristal:hover,
.cristal-big:hover {
  transform: translateY(-50%) scale(1.1);
}

.cristal-big {
  background-image: url(~/assets/img/cristal-big.png);
}

button[data-tooltip]::before {
  content: attr(data-tooltip);
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  color: #fff;
  padding: 3px 10px;
  font-size: 0.8rem;
  border-radius: 50%;
  display: none;
}

button[data-tooltip]:hover::before {
  display: block;
}